 <style type="text/css">
 #footer {
	 padding:20px 15px 0 15px;
	 clear:both;
	 text-align:center;
	 color: #737373;
	 background-color:white;
	 -moz-border-radius-bottomleft:5px;
	 -moz-border-radius-bottomright:5px;
 }
 </style>
 <div id="footer">Site produced by Thanh Pham Duy</div>