
    <h2>Customer Registration</h2>
    
    <form action="?">
      <input type="hidden" name="execution" value="${flowExecutionKey}"/>
      <b>Phone number: </b><input type="text" name="phoneNumber"/><br/>
      <b>Name: </b><input type="text" name="name"/><br/>
      <b>Address: </b><input type="text" name="address"/><br/>
      <b>City: </b><input type="text" name="city"/><br/>
      <b>State: </b><input type="text" name="state"/><br/>
      <b>Zip Code: </b><input type="text" name="zipCode"/><br/>
      <input type="submit" name="_eventId_submit" value="Submit" />
      <input type="submit" name="_eventId_cancel" value="Cancel" />
    </form>