<h2>Welcome to the Customer Flow!!!</h2>
<form action="?">
	<input type="hidden" name="execution" value="${flowExecutionKey}"/>
	<input type="text" name="phoneNumber"/><br/>
	<input type="submit" name="_eventId_phoneEntered" value="Lookup Customer" />
    <input type="submit" name="_eventId_cancel" value="Cancel" />
</form>